/********/
/*Global*/
/********/

* {
/*global variables*/
    --background: rgb(51, 57, 63);
    --hotpink: rgb(232, 102, 236);
    --border: white;
    --fontcolor: lightblue;
    --border-style: 3px solid white;    
    --objectbackground: rgb(54, 83, 110);
    --lighterbackground: #bac2f0;
    --heading:  #b29bf1;
   
/*global formatting*/
    background-color:  var(--background);   
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 18px;
}

/***************/
/****Header*****/
/***************/

header {
    display: flex;
    background-color: var(--lighterbackground);
    padding: 10px 5px 5px 10px;         
}
/***********************/
/* link to high scores */
/***********************/

#hiscorelink {        
    flex: 1 0 0;          /* shorthand for: flex-grow: 1, flex-shrink: 1, flex-basis: 0 */
    display: flex;
    justify-content: center; /*Horizontal Center*/
    align-items: center;           /*Vertical Center*/
    background-color: var(--lighterbackground);    
    padding: 5px 5px 5px 5px;
    margin: 75px 5px 0px 5px;
   
    color: blue;    
    font-size: 1rem;  
    text-decoration: underline;
    cursor: pointer;  
     
}

#hiscorelink:hover { 
    color: rgb(6, 4, 153);
    font-weight: 550;
}
/*********************/
/* Heading in header */
/*********************/

#heading {   
    flex: 3 0 0;       /* shorthand for: flex-grow: 1, flex-shrink: 1, flex-basis: 0 */
    display: flex;
    justify-content: center;  /*Horizontal Center*/
    align-items: center;       /*Vertical Center*/
    border: 2px solid var(--border);
    background-color: lightblue;
    border-radius: 25px;
    font-size: 2rem; 
    padding: 20px 0px 20px 0px;
    margin: 20px 0px 20px 0px;    
}

/*********/
/* Timer */
/*********/
#timer {    
    flex: 1 0 0;
    display: flex;
    justify-content: center;
    align-items: end;       
    background-color: var(--lighterbackground);    
    padding: 0px 0px 10px 0px;
    margin: 0px 0px 0px 20px;
}




/********************************************/
/* Main element contains the article element*/
/********************************************/

main {
    display: inline-block;
    background-color: var(--background);
    justify-content: center;
    border-radius: 25px;
    padding: 20px;
    margin: 20px;
    min-height: 70vh;            
}




/*****************************************************/
/* Article container - includes Paragraph and Answers*/
/*****************************************************/
article {
    background-color: var(--background);
    padding: 10px 30px 10px 30px;    

}

/***********************************************/
/*Display banner - Questions & Opening Heading */
/***********************************************/
#banner {
    color: var(--heading);
    font-weight: 800px;
    background-color: var(--objectbackground);
    font-size: 2.5rem;
    border: 3px solid var(--border);
    border-radius: 25px;          
    padding: 19px 39px 19px 39px;
    margin: 16px 16px 16px 16px;  
}

/*******************************************************/
/*Containers for Answer Buttons - to sort out alignment*/
/*******************************************************/
.card-answers {
    text-align: left;
    padding: 0px 0px 0px 10px;    
} 

/******************/
/* Answer buttons */
/******************/
.answerbtn {
    display: none;
    margin: auto;
    text-align: left;   
    border: 3px solid var(--border);
    color: var(--fontcolor);
    background-color: var(--objectbackground);
    border-radius: 25px; 
    font-size: 1.5rem;
    margin: 16px 16px 16px 16px;
    padding: 14px 34px 14px 34px;
    cursor: pointer;        
}

/******************************************/
/* Answer buttons - change format on hover*/
/******************************************/
.answerbtn:hover, #hiscoreBtn:hover {
    background-color: var(--lighterbackground);
    color: var(--objectbackground);
    border: 3px solid rgb(115, 15, 161);
}

/*************************************/
/* Outcome banner (correct/incorrect */
/*************************************/
#outcome  {
    display: none;
    position: static;
    bottom: 0px; left: auto;
    text-align: center;
    left: 30px;
    width: 200px;
    font-size: 2rem;
    background-color: yellow;
    border-radius: 10px;    
    padding: 10px 10px 10px 10px;
    border: 3px solid var(--border);
    margin: 20px 0px 0px 0px;
}


/***********************/
/**** Welcome Blurb ****/
/***********************/
#blurb {
    color: var(--fontcolor);
    font-size: 1.5rem;;
}

/*******************/
/*Start Quiz Button*/
/*******************/
#startBtn { 
    border: none;
    border: 3px solid var(--border);
    background-color: hsl(108, 73%, 29%);
    border-radius: 25px;
    color: hsl(0, 0%, 100%);    
    font-size: 2rem;
    line-height: 22px;
    margin: 30px 30px 30px 30px;    
    padding: 25px 35px 25px 35px;    
    cursor: pointer; 
}

/***************************/
/*Start Quiz Button - Hover*/
/***************************/
#startBtn:hover { 
    border: none;
    border: 3px solid var(--border);
    background-color: hsl(128, 44%, 43%);
    border-radius: 25px;
    color: hsl(0, 0%, 100%);    
    font-size: 2rem;
    line-height: 22px;
    margin: 30px 30px 30px 30px;    
    padding: 25px 35px 25px 35px;    
    cursor: pointer; 
}

/********************************************/
/*Clear HiScore/Reload/Submit Hiscore Button*/
/********************************************/
#clearHiScoreBtn, #reloadBtn, #hiscoreBtn {
    display: none;
    border: 3px solid var(--border);
    background-color: hsl(108, 73%, 29%);
    border-radius: 15px;
    color: hsl(0, 0%, 100%);    
    font-size: 1rem;
    line-height: 22px;
    margin: 30px 30px 30px 30px;    
    padding: 10px 20px 10px 20px;
    cursor: pointer;

}

/****************************************************/
/*Clear HiScore/Reload/Submit Hiscore Button - Hover*/
/****************************************************/
#clearHiScoreBtn:hover, #reloadBtn:hover, #hiscoreBtn:hover {
    display: none;
    border: 3px solid var(--border);
    background-color: hsl(128, 44%, 43%);
    border-radius: 15px;
    color: hsl(0, 0%, 100%);    
    font-size: 1rem;
    line-height: 22px;
    margin: 30px 30px 30px 30px;    
    padding: 10px 20px 10px 20px;
    cursor: pointer;
}


/*********************/
/** Form - Hi Score **/
/*********************/

/*Enter your initials text*/
#hiscore-form {
    padding: 10px;
    display: none;
    color: var(--fontcolor);
}
/*Freetext Field*/
#hiscore-initial {
    color: var(--fontcolor);
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
}


/*Submit button*/
/*#hiscoreBtn {
    color: var(--fontcolor);
    padding: 5px 5px 5px 5px;
    margin: 10px 10px 10px 10px;
    background-color: var(--objectbackground);
    border-radius: 10px;
    border: 3px solid var(--border);
}
*/

/****************/
/**** Footer ****/
/****************/


footer {    
    background-color: var(--lighterbackground);
    padding: 10px 5px 100px 10px; 
    margin-top: auto;       
}

/*****************/
/*View high score*/
/*****************/

.li {
    padding: 5px;
    margin: 5px;
    background-color: var(--fontcolor);
    color: var(--background);
    border: 1px solid var(--objectbackground);
    font-size: 2rem;
    
}

/*************/
/*-- Blurb --*/
/*************/

p {
    text-align: left
}

.bullet {
    color: var(--fontcolor);
    font-size: 1.5rem;;
    text-align: left;
    padding: 5px;
}

.bullet::before {
    content: ' ●';
    color: var(--fontcolor);
    font-size: 1rem;       
}