* {
/*global variables*/
    --background: rgb(51, 57, 63);
    --hotpink: rgb(232, 102, 236);
    --border: white;
    --fontcolor: lightblue;
    --border-style: 3px solid white;
    --objectbackground: #303F54;
    --lighterbackground: #bac2f0;
    --heading:  #b29bf1;
   
/*global formatting*/
    background-color:  var(--background);   
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 18px;
}

/*Header*/

header, h1, a, nav, footer {
    background-color: var(--lighterbackground);
    padding: 10px 5px 5px 10px;    
}

/* H1 Heading in header */
h1 {       
    display: inline-block;
    padding: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    border: 2px solid var(--border);
    background-color: lightblue;
    width: 40%;
    border-radius: 25px;
    
}

/* link to high scores */
header nav {    
    text-align: left;
}

/* Main element contains the article element*/

main {
    display: inline-block;
    flex-wrap: wrap;
    background-color: var(--background);
    border: 5px solid var(--border);
    border-radius: 25px;
    padding: 20px;
    margin: 20px;            
}

/* Article container - includes Paragraph and Answers*/
article {
    background-color: var(--background);
    padding: 10px 30px 10px 30px;    
}

/*****************************************/
/*Display questions here/Opening Heading */
/*****************************************/
#banner {
    color: var(--heading);
    weight: 800px;
    background-color: var(--objectbackground);
    font-size: 2.5rem;
    border: 3px solid var(--border);
    border-radius: 25px;          
    padding: 19px 39px 19px 39px;
    margin: 16px 16px 16px 16px;  
    
}

  /*Containers for Answer Buttons*/
div {
    text-align: left;
    padding: 0px 0px 0px 10px;    
} 

  /* Answer buttons */
  .answerbtn {
    display: none;
    margin: auto;   
    border: 3px solid var(--border);
    color: var(--fontcolor);
    background-color: var(--objectbackground);
    border-radius: 25px; 
    font-size: 1.5rem;
    line-height: 22px;
    margin: 16px 16px 16px 16px;
    padding: 14px 34px 14px 34px;
    cursor: pointer;        
  }

.answerbtn:hover {
    background-color: var(--lighterbackground);
    color: var(--objectbackground);
    border: 3px solid orangered;
}

/******************/
/* Outcome banner */
/******************/
#outcome  {
    padding: 30px, 30px, 30px, 30px;
    color: yellow;
    font-size: 2rem;    
  }

  /*Start Quiz Button*/
#startBtn {
    border: none;
    background-color: hsl(360, 91%, 36%);
    border-radius: 25px;
    color: hsl(0, 0%, 100%);    
    font-size: 2rem;
    line-height: 22px;
    margin: 30px 30px 30px 30px;
    padding: 35px 55px 35px 55px;
    cursor: pointer;   
  }



    

  