* {
    background-color: pink;
}

.wrapper {
    background-color: purple;
}

/*Header*/

header {
    text-align: center;
}

header nav {
    color: red;
    text-align: left;
}

/* Main element */

main {
    display: inline-block;
    flex-wrap: wrap;
    background-color: green;
    padding: 20 px;
    margin: 20 px;
    align-items: center;
    text-align: center;    
    justify-content: center;
    border: 5px solid black;           
}

/* article element */
article {
    background-color: orange;
}

/*paragraph element */
/*Display questions here */
p {
    display: flexbox;
    background-color: cyan;
    border: 3px solid grey;    
    margin: 20px;
    padding: 20px;
    text-align: center;
    font-size: 3em;
}

#article-heading {
    display: inline-block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: lightblue;
    padding: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    border: 2px;
    width: 40%;
    border-radius: 5px;
    border-color: grey;
    
}

#questions {
    font-size: 2em;
    padding: 20px;
}

.card-footer {
    text-align: center;
}

.btn {
    border: none;
    background-color: hsl(360, 91%, 36%);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
      0px;
    color: hsl(0, 0%, 100%);
    display: inline-block;
    font-size: 22px;
    line-height: 22px;
    margin: 16px 16px 16px 20px;
    padding: 14px 34px;
    text-align: center;
    cursor: pointer;
   
  }

    .card-answers {
    background-color: blue;
    color: rgb(0, 128, 128);
    padding: 20px;
    text-align: left;
    align-items: center;
    margin: auto;    
    width: 40%;
   
  }

    
    

  